/*
  # Yantrabyte Solutions - Initial Database Schema

  1. New Tables
    - `pages` - Dynamic page management (title, slug, content, is_published, page_order)
    - `services` - Service listings (title, slug, description, icon, features, is_featured, is_published, sort_order)
    - `products` - Product listings (name, slug, description, category, price, image_url, is_featured, is_published, sort_order)
    - `testimonials` - Customer testimonials (name, company, rating, content, avatar_url, is_published, sort_order)
    - `blog_posts` - Blog articles (title, slug, excerpt, content, category, featured_image, is_published, published_at, sort_order)
    - `team_members` - Team members (name, role, bio, image_url, is_published, sort_order)
    - `careers` - Job listings (title, slug, description, requirements, location, type, is_active, sort_order)
    - `industries` - Industries served (name, slug, description, icon, is_published, sort_order)
    - `faqs` - FAQ entries (question, answer, category, is_published, sort_order)
    - `site_settings` - Global site settings (key, value pairs)
    - `contact_submissions` - Contact form submissions (name, email, phone, service, message, status)
    - `gallery_images` - Before/after gallery (title, before_url, after_url, category, is_published, sort_order)
    - `client_logos` - Client logo carousel (name, logo_url, is_published, sort_order)

  2. Security
    - Enable RLS on all tables
    - Public read access for published content
    - Authenticated admin access for all operations
*/

-- Pages table
CREATE TABLE IF NOT EXISTS pages (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  title text NOT NULL,
  slug text UNIQUE NOT NULL,
  content jsonb DEFAULT '{}',
  meta_title text DEFAULT '',
  meta_description text DEFAULT '',
  is_published boolean DEFAULT false,
  page_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Services table
CREATE TABLE IF NOT EXISTS services (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  title text NOT NULL,
  slug text UNIQUE NOT NULL,
  short_description text DEFAULT '',
  full_description text DEFAULT '',
  icon text DEFAULT '',
  features jsonb DEFAULT '[]',
  benefits jsonb DEFAULT '[]',
  meta_title text DEFAULT '',
  meta_description text DEFAULT '',
  is_featured boolean DEFAULT false,
  is_published boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Products table
CREATE TABLE IF NOT EXISTS products (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  slug text UNIQUE NOT NULL,
  description text DEFAULT '',
  category text DEFAULT '',
  price text DEFAULT '',
  image_url text DEFAULT '',
  features jsonb DEFAULT '[]',
  is_featured boolean DEFAULT false,
  is_published boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Testimonials table
CREATE TABLE IF NOT EXISTS testimonials (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  company text DEFAULT '',
  role text DEFAULT '',
  rating integer DEFAULT 5,
  content text NOT NULL,
  avatar_url text DEFAULT '',
  is_published boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now()
);

-- Blog posts table
CREATE TABLE IF NOT EXISTS blog_posts (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  title text NOT NULL,
  slug text UNIQUE NOT NULL,
  excerpt text DEFAULT '',
  content text DEFAULT '',
  category text DEFAULT '',
  featured_image text DEFAULT '',
  meta_title text DEFAULT '',
  meta_description text DEFAULT '',
  is_published boolean DEFAULT false,
  published_at timestamptz DEFAULT now(),
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Team members table
CREATE TABLE IF NOT EXISTS team_members (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  role text DEFAULT '',
  bio text DEFAULT '',
  image_url text DEFAULT '',
  is_published boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now()
);

-- Careers table
CREATE TABLE IF NOT EXISTS careers (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  title text NOT NULL,
  slug text UNIQUE NOT NULL,
  description text DEFAULT '',
  requirements jsonb DEFAULT '[]',
  location text DEFAULT 'Bangalore',
  type text DEFAULT 'Full-time',
  is_active boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Industries table
CREATE TABLE IF NOT EXISTS industries (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  slug text UNIQUE NOT NULL,
  description text DEFAULT '',
  icon text DEFAULT '',
  is_published boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now()
);

-- FAQs table
CREATE TABLE IF NOT EXISTS faqs (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  question text NOT NULL,
  answer text NOT NULL,
  category text DEFAULT 'general',
  is_published boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now()
);

-- Site settings table
CREATE TABLE IF NOT EXISTS site_settings (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  key text UNIQUE NOT NULL,
  value text DEFAULT '',
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Contact submissions table
CREATE TABLE IF NOT EXISTS contact_submissions (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  email text NOT NULL,
  phone text DEFAULT '',
  service text DEFAULT '',
  message text DEFAULT '',
  status text DEFAULT 'new',
  created_at timestamptz DEFAULT now()
);

-- Gallery images table
CREATE TABLE IF NOT EXISTS gallery_images (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  title text DEFAULT '',
  before_url text DEFAULT '',
  after_url text DEFAULT '',
  category text DEFAULT '',
  is_published boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now()
);

-- Client logos table
CREATE TABLE IF NOT EXISTS client_logos (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  name text NOT NULL,
  logo_url text DEFAULT '',
  is_published boolean DEFAULT true,
  sort_order integer DEFAULT 0,
  created_at timestamptz DEFAULT now()
);

-- Enable RLS on all tables
ALTER TABLE pages ENABLE ROW LEVEL SECURITY;
ALTER TABLE services ENABLE ROW LEVEL SECURITY;
ALTER TABLE products ENABLE ROW LEVEL SECURITY;
ALTER TABLE testimonials ENABLE ROW LEVEL SECURITY;
ALTER TABLE blog_posts ENABLE ROW LEVEL SECURITY;
ALTER TABLE team_members ENABLE ROW LEVEL SECURITY;
ALTER TABLE careers ENABLE ROW LEVEL SECURITY;
ALTER TABLE industries ENABLE ROW LEVEL SECURITY;
ALTER TABLE faqs ENABLE ROW LEVEL SECURITY;
ALTER TABLE site_settings ENABLE ROW LEVEL SECURITY;
ALTER TABLE contact_submissions ENABLE ROW LEVEL SECURITY;
ALTER TABLE gallery_images ENABLE ROW LEVEL SECURITY;
ALTER TABLE client_logos ENABLE ROW LEVEL SECURITY;

-- Public read policies for published content
CREATE POLICY "Public can view published pages" ON pages FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view published services" ON services FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view published products" ON products FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view published testimonials" ON testimonials FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view published blog posts" ON blog_posts FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view published team members" ON team_members FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view active careers" ON careers FOR SELECT TO anon, authenticated USING (is_active = true);
CREATE POLICY "Public can view published industries" ON industries FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view published FAQs" ON faqs FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view site settings" ON site_settings FOR SELECT TO anon, authenticated USING (true);
CREATE POLICY "Public can view published gallery" ON gallery_images FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can view published client logos" ON client_logos FOR SELECT TO anon, authenticated USING (is_published = true);
CREATE POLICY "Public can submit contact forms" ON contact_submissions FOR INSERT TO anon, authenticated WITH CHECK (true);

-- Admin full access policies (authenticated users)
CREATE POLICY "Admin full access pages" ON pages FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access services" ON services FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access products" ON products FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access testimonials" ON testimonials FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access blog_posts" ON blog_posts FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access team_members" ON team_members FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access careers" ON careers FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access industries" ON industries FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access faqs" ON faqs FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access site_settings" ON site_settings FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access contact_submissions" ON contact_submissions FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access gallery_images" ON gallery_images FOR ALL TO authenticated USING (true) WITH CHECK (true);
CREATE POLICY "Admin full access client_logos" ON client_logos FOR ALL TO authenticated USING (true) WITH CHECK (true);

-- Insert default site settings
INSERT INTO site_settings (key, value) VALUES
  ('company_name', 'Yantrabyte Solutions'),
  ('tagline', 'Smart Technology. Secure Future.'),
  ('phone', '+91-9876543210'),
  ('email', 'info@yantrabyte.com'),
  ('whatsapp', '919876543210'),
  ('address', 'Bangalore, Karnataka, India'),
  ('google_maps_embed', ''),
  ('facebook', ''),
  ('instagram', ''),
  ('linkedin', ''),
  ('twitter', ''),
  ('youtube', '');

-- Insert default services

-- Insert default industries

-- Insert default testimonials

-- Insert default FAQs

-- Insert default blog posts

-- Insert default careers
/*
  # Fix RLS Security Policies

  ## Problem
  Multiple tables had "Admin full access" policies using `USING (true)` and
  `WITH CHECK (true)`, which effectively bypasses row-level security for ALL
  authenticated users â€” not just admins. Any authenticated user could perform
  any operation (SELECT, INSERT, UPDATE, DELETE) on these tables.

  Additionally:
  - `contact_submissions` had a public INSERT policy with `WITH CHECK (true)`,
    allowing anyone to insert arbitrary data without validation.
  - `site_settings` had a public SELECT policy with `USING (true)`, exposing
    all settings (potentially including sensitive config) to everyone.

  ## Changes

  ### 1. Admin Role Mechanism
  - Set `is_admin = true` in `app_metadata` for the existing admin user
    (yantrabyte.solutions@gmail.com). This is stored in `raw_app_meta_data`
    which cannot be modified by the user.
  - Created helper function `public.is_admin()` that checks
    `auth.jwt() -> 'app_metadata' ->> 'is_admin'` for the current session.

  ### 2. Replaced Insecure "Admin full access" Policies
  For each of these 12 tables, the `FOR ALL USING (true) WITH CHECK (true)`
  policy was dropped and replaced with 4 separate restrictive policies:
  - SELECT: only for admin users (via `is_admin()`)
  - INSERT: only for admin users
  - UPDATE: only for admin users
  - DELETE: only for admin users

  Tables affected:
  - blog_posts, careers, client_logos, contact_submissions, faqs,
    gallery_images, industries, pages, products, services,
    site_settings, team_members, testimonials

  ### 3. Fixed contact_submissions Public INSERT Policy
  - Dropped: `Public can submit contact forms` (WITH CHECK = true)
  - Created: `Public can submit contact forms` with WITH CHECK requiring
    non-null `name`, `email`, and `message` fields â€” prevents empty/spam rows.

  ### 4. Fixed site_settings Public SELECT Policy
  - Dropped: `Public can view site settings` (USING = true)
  - Created: `Public can view site settings` restricted to non-sensitive
    keys only (keys that do NOT contain 'secret', 'key', 'password',
    'token', 'api_key', 'private', or 'credential').

  ### 5. Security Notes
  - All admin policies use `is_admin()` which reads from `app_metadata`
    (server-controlled, user cannot modify).
  - Public read policies for published content remain unchanged and are
    already properly restrictive (checking `is_published = true`, etc.).
  - RLS remains enabled on all tables.
*/

-- â”€â”€â”€ 1. Set admin flag in app_metadata â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

UPDATE auth.users
SET raw_app_meta_data =
  raw_app_meta_data || '{"is_admin": true}'::jsonb
WHERE email = 'yantrabyte.solutions@gmail.com';

-- â”€â”€â”€ 2. Create is_admin() helper function â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

CREATE OR REPLACE FUNCTION public.is_admin()
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY DEFINER
AS $$
  SELECT (auth.jwt() -> 'app_metadata' ->> 'is_admin')::boolean = true
$$;

-- â”€â”€â”€ 3. Drop all insecure "Admin full access" policies â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

DROP POLICY IF EXISTS "Admin full access blog_posts" ON public.blog_posts;
DROP POLICY IF EXISTS "Admin full access careers" ON public.careers;
DROP POLICY IF EXISTS "Admin full access client_logos" ON public.client_logos;
DROP POLICY IF EXISTS "Admin full access contact_submissions" ON public.contact_submissions;
DROP POLICY IF EXISTS "Admin full access faqs" ON public.faqs;
DROP POLICY IF EXISTS "Admin full access gallery_images" ON public.gallery_images;
DROP POLICY IF EXISTS "Admin full access industries" ON public.industries;
DROP POLICY IF EXISTS "Admin full access pages" ON public.pages;
DROP POLICY IF EXISTS "Admin full access products" ON public.products;
DROP POLICY IF EXISTS "Admin full access services" ON public.services;
DROP POLICY IF EXISTS "Admin full access site_settings" ON public.site_settings;
DROP POLICY IF EXISTS "Admin full access team_members" ON public.team_members;
DROP POLICY IF EXISTS "Admin full access testimonials" ON public.testimonials;

-- â”€â”€â”€ 4. Drop insecure public policies â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

DROP POLICY IF EXISTS "Public can submit contact forms" ON public.contact_submissions;
DROP POLICY IF EXISTS "Public can view site settings" ON public.site_settings;

-- â”€â”€â”€ 5. Create secure admin policies (per table, per operation) â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

-- blog_posts
CREATE POLICY "Admin can view blog_posts"
  ON public.blog_posts FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert blog_posts"
  ON public.blog_posts FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update blog_posts"
  ON public.blog_posts FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete blog_posts"
  ON public.blog_posts FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- careers
CREATE POLICY "Admin can view careers"
  ON public.careers FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert careers"
  ON public.careers FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update careers"
  ON public.careers FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete careers"
  ON public.careers FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- client_logos
CREATE POLICY "Admin can view client_logos"
  ON public.client_logos FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert client_logos"
  ON public.client_logos FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update client_logos"
  ON public.client_logos FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete client_logos"
  ON public.client_logos FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- contact_submissions
CREATE POLICY "Admin can view contact_submissions"
  ON public.contact_submissions FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert contact_submissions"
  ON public.contact_submissions FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update contact_submissions"
  ON public.contact_submissions FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete contact_submissions"
  ON public.contact_submissions FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- faqs
CREATE POLICY "Admin can view faqs"
  ON public.faqs FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert faqs"
  ON public.faqs FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update faqs"
  ON public.faqs FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete faqs"
  ON public.faqs FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- gallery_images
CREATE POLICY "Admin can view gallery_images"
  ON public.gallery_images FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert gallery_images"
  ON public.gallery_images FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update gallery_images"
  ON public.gallery_images FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete gallery_images"
  ON public.gallery_images FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- industries
CREATE POLICY "Admin can view industries"
  ON public.industries FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert industries"
  ON public.industries FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update industries"
  ON public.industries FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete industries"
  ON public.industries FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- pages
CREATE POLICY "Admin can view pages"
  ON public.pages FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert pages"
  ON public.pages FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update pages"
  ON public.pages FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete pages"
  ON public.pages FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- products
CREATE POLICY "Admin can view products"
  ON public.products FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert products"
  ON public.products FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update products"
  ON public.products FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete products"
  ON public.products FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- services
CREATE POLICY "Admin can view services"
  ON public.services FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert services"
  ON public.services FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update services"
  ON public.services FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete services"
  ON public.services FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- site_settings
CREATE POLICY "Admin can view site_settings"
  ON public.site_settings FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert site_settings"
  ON public.site_settings FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update site_settings"
  ON public.site_settings FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete site_settings"
  ON public.site_settings FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- team_members
CREATE POLICY "Admin can view team_members"
  ON public.team_members FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert team_members"
  ON public.team_members FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update team_members"
  ON public.team_members FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete team_members"
  ON public.team_members FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- testimonials
CREATE POLICY "Admin can view testimonials"
  ON public.testimonials FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert testimonials"
  ON public.testimonials FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update testimonials"
  ON public.testimonials FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete testimonials"
  ON public.testimonials FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- â”€â”€â”€ 6. Create secure public policies â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

-- contact_submissions: public can insert with required field validation
CREATE POLICY "Public can submit contact forms"
  ON public.contact_submissions FOR INSERT
  TO anon, authenticated
  WITH CHECK (
    name IS NOT NULL AND name <> ''
    AND email IS NOT NULL AND email <> ''
    AND message IS NOT NULL AND message <> ''
  );

-- site_settings: public can only view non-sensitive settings
CREATE POLICY "Public can view site settings"
  ON public.site_settings FOR SELECT
  TO anon, authenticated
  USING (
    key NOT ILIKE '%secret%'
    AND key NOT ILIKE '%key%'
    AND key NOT ILIKE '%password%'
    AND key NOT ILIKE '%token%'
    AND key NOT ILIKE '%api_key%'
    AND key NOT ILIKE '%private%'
    AND key NOT ILIKE '%credential%'
  );
/*
  # Fix is_admin() Function Security

  ## Problems
  1. Function has role-mutable search_path, allowing potential path injection attacks
  2. `anon` role can execute the SECURITY DEFINER function via REST API
  3. `authenticated` role can execute the SECURITY DEFINER function via REST API

  ## Solution
  Drop function with CASCADE to remove only admin policies, recreate with:
  - Fixed search_path = 'pg_catalog' (prevents path injection)
  - SECURITY INVOKER (caller's permissions, not admin privileges)
  - REVOKE EXECUTE from anon/authenticated (no direct RPC calls)
  Then recreate only the admin policies (public read policies remain).
*/

-- Drop function and dependent admin policies
DROP FUNCTION IF EXISTS public.is_admin() CASCADE;

-- Recreate with secure settings
CREATE FUNCTION public.is_admin()
RETURNS boolean
LANGUAGE sql
STABLE
SECURITY INVOKER
SET search_path = 'pg_catalog'
AS $$
  SELECT (auth.jwt() -> 'app_metadata' ->> 'is_admin')::boolean = true
$$;

-- Revoke dangerous permissions
REVOKE ALL ON FUNCTION public.is_admin() FROM public;
REVOKE ALL ON FUNCTION public.is_admin() FROM anon;
REVOKE ALL ON FUNCTION public.is_admin() FROM authenticated;
GRANT EXECUTE ON FUNCTION public.is_admin() TO postgres;

-- â”€â”€â”€ Recreate admin-only policies â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€

-- blog_posts
CREATE POLICY "Admin can view blog_posts"
  ON public.blog_posts FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert blog_posts"
  ON public.blog_posts FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update blog_posts"
  ON public.blog_posts FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete blog_posts"
  ON public.blog_posts FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- careers
CREATE POLICY "Admin can view careers"
  ON public.careers FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert careers"
  ON public.careers FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update careers"
  ON public.careers FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete careers"
  ON public.careers FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- client_logos
CREATE POLICY "Admin can view client_logos"
  ON public.client_logos FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert client_logos"
  ON public.client_logos FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update client_logos"
  ON public.client_logos FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete client_logos"
  ON public.client_logos FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- contact_submissions
CREATE POLICY "Admin can view contact_submissions"
  ON public.contact_submissions FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert contact_submissions"
  ON public.contact_submissions FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update contact_submissions"
  ON public.contact_submissions FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete contact_submissions"
  ON public.contact_submissions FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- faqs
CREATE POLICY "Admin can view faqs"
  ON public.faqs FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert faqs"
  ON public.faqs FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update faqs"
  ON public.faqs FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete faqs"
  ON public.faqs FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- gallery_images
CREATE POLICY "Admin can view gallery_images"
  ON public.gallery_images FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert gallery_images"
  ON public.gallery_images FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update gallery_images"
  ON public.gallery_images FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete gallery_images"
  ON public.gallery_images FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- industries
CREATE POLICY "Admin can view industries"
  ON public.industries FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert industries"
  ON public.industries FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update industries"
  ON public.industries FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete industries"
  ON public.industries FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- pages
CREATE POLICY "Admin can view pages"
  ON public.pages FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert pages"
  ON public.pages FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update pages"
  ON public.pages FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete pages"
  ON public.pages FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- products
CREATE POLICY "Admin can view products"
  ON public.products FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert products"
  ON public.products FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update products"
  ON public.products FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete products"
  ON public.products FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- services
CREATE POLICY "Admin can view services"
  ON public.services FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert services"
  ON public.services FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update services"
  ON public.services FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete services"
  ON public.services FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- site_settings
CREATE POLICY "Admin can view site_settings"
  ON public.site_settings FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert site_settings"
  ON public.site_settings FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update site_settings"
  ON public.site_settings FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete site_settings"
  ON public.site_settings FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- team_members
CREATE POLICY "Admin can view team_members"
  ON public.team_members FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert team_members"
  ON public.team_members FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update team_members"
  ON public.team_members FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete team_members"
  ON public.team_members FOR DELETE
  TO authenticated
  USING (public.is_admin());

-- testimonials
CREATE POLICY "Admin can view testimonials"
  ON public.testimonials FOR SELECT
  TO authenticated
  USING (public.is_admin());

CREATE POLICY "Admin can insert testimonials"
  ON public.testimonials FOR INSERT
  TO authenticated
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can update testimonials"
  ON public.testimonials FOR UPDATE
  TO authenticated
  USING (public.is_admin())
  WITH CHECK (public.is_admin());

CREATE POLICY "Admin can delete testimonials"
  ON public.testimonials FOR DELETE
  TO authenticated
  USING (public.is_admin());
-- Create service_tickets table
CREATE TABLE IF NOT EXISTS public.service_tickets (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  ticket_number text UNIQUE NOT NULL,
  customer_name text NOT NULL,
  customer_email text,
  customer_phone text NOT NULL,
  device_type text,
  issue_description text NOT NULL,
  status text NOT NULL DEFAULT 'open',
  priority text NOT NULL DEFAULT 'medium',
  assigned_to uuid REFERENCES auth.users(id),
  notes text,
  created_at timestamptz DEFAULT now(),
  updated_at timestamptz DEFAULT now()
);

-- Enable RLS
ALTER TABLE public.service_tickets ENABLE ROW LEVEL SECURITY;

-- Create policy for authenticated users (admins) to have full access
CREATE POLICY "Admins have full access to service_tickets"
  ON public.service_tickets
  FOR ALL
  TO authenticated
  USING (true)
  WITH CHECK (true);
-- Create invoices table for the built-in Billing Software
CREATE TABLE IF NOT EXISTS public.invoices (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    invoice_no TEXT UNIQUE NOT NULL,
    doc_type TEXT NOT NULL DEFAULT 'Invoice',
    date TEXT NOT NULL,
    customer_name TEXT NOT NULL,
    phone TEXT,
    email TEXT,
    address TEXT,
    items JSONB NOT NULL DEFAULT '[]'::jsonb,
    subtotal NUMERIC NOT NULL DEFAULT 0,
    discount NUMERIC NOT NULL DEFAULT 0,
    tax NUMERIC NOT NULL DEFAULT 0,
    round_off NUMERIC NOT NULL DEFAULT 0,
    grand_total NUMERIC NOT NULL DEFAULT 0,
    advance_paid NUMERIC NOT NULL DEFAULT 0,
    balance_due NUMERIC NOT NULL DEFAULT 0,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- RLS Policies
ALTER TABLE public.invoices ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Allow read access for admins" 
    ON public.invoices FOR SELECT 
    USING (auth.role() = 'authenticated');

CREATE POLICY "Allow insert access for admins" 
    ON public.invoices FOR INSERT 
    WITH CHECK (auth.role() = 'authenticated');

CREATE POLICY "Allow update access for admins" 
    ON public.invoices FOR UPDATE 
    USING (auth.role() = 'authenticated');

CREATE POLICY "Allow delete access for admins" 
    ON public.invoices FOR DELETE 
    USING (auth.role() = 'authenticated');
CREATE TABLE IF NOT EXISTS "Form Responses 1" (
  id uuid PRIMARY KEY DEFAULT gen_random_uuid(),
  full_name text,
  email text,
  phone text,
  address text,
  created_at timestamptz DEFAULT now()
);

-- Enable RLS
ALTER TABLE "Form Responses 1" ENABLE ROW LEVEL SECURITY;

-- Drop policy if exists to avoid errors on reruns
DROP POLICY IF EXISTS "Enable read access for authenticated users" ON "Form Responses 1";

-- Create policy for select
CREATE POLICY "Enable read access for authenticated users" ON "Form Responses 1" FOR SELECT TO authenticated USING (true);
